/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: #222;
}

body {
    width: 350px;
    height: 350px;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
}

.divider {
    margin: 7px auto 5px;
    width: 50px;
    border: .5px dashed #000;
    opacity: .1;
}

.optionsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.option {
    padding: 4px;
    text-align: left;
}

/* code {
    font-size: 12px;
    font-family: inherit;
    background-color: rgba(254, 237, 185, .3);
    padding: 2px 4px;
    border-radius: 2px;
    white-space: pre-wrap;
} */

#canvasRecorderButtonContainer.option {
    text-align: center;
}

#coordinates {
    white-space: normal;
    word-break: break-word;
    overflow-y: scroll;
    height: 75px;
    max-height: 75px;
    width: 310px;
    max-width: 310px;
    display: block;
    cursor: pointer;
    transition: transform .2s ease;
    background-color: #EAFAFF;
    padding: 2px;
    outline: 1px solid #000;    /* ensures no overlap with scrollbar thumb bg clr vs border css prop */
    border-radius: 4px;
}

#coordinates:hover {
    transform: scale(1.05);
}

/* Works on Chrome, Edge, and Safari (not Firefox): https://www.digitalocean.com/community/tutorials/css-scrollbars */
#coordinates::-webkit-scrollbar{
    width: 16px;
}
  
#coordinates::-webkit-scrollbar-thumb{
    /* first 4 values ensure no minor pixel leaks with bg clr */
    box-shadow:
        inset -1px 0 0 1px #EAFAFF,
        inset 1px 0 0 1px #EAFAFF,
        inset 0 -1px 0 1px #EAFAFF,
        inset 0 1px 0 1px #EAFAFF,
        inset 0 0 0 5px #EAFAFF;
    border: 1px solid #EAFAFF;  /* ensures no minor pixel leaks with bg clr */
    border-radius: 15px;
    outline: 1px solid #7BDFFF;
    outline-offset: -6px;
    background-color: #C8F2FF;
}

.button-container {
    margin-top: 15px;
}

button {
    border: 0;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: bisque;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: transform .2s ease;
    user-select: none;
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(1.05);
}

#toggleRecord {
    background-color: lightgrey;
}
